<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>登录-杭州联通场景抓取系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css"
          th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href="../static/css/main.css"
          th:href="@{/css/main.css}">
    <script src="../static/js/jquery-3.3.1.js" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
</head>

<body>
<style type="text/css">
    * {
        margin: 0;
        padding: 0
    }

    html,
    body {
        height: 100%
    }
</style>

<div class="outer-wrap">
    <div class="logintitle">
        杭州联通场景抓取系统
    </div>
    <div class="login-panel">
        <form class="layui-form" action="" lay-filter="example" method="post" th:action="@{/index/login}">
            <div class="layui-form-item">
                <label class="layui-form-label">帐号</label>
                <div class="layui-input-inline">
                    <input id="username" type="text" name="username" lay-verify="required" placeholder="请输入帐号"
                           autocomplete="off" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input id="password" type="password" name="password" placeholder="请输入密码" autocomplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button id="login" type="submit" class="layui-btn" lay-submit="" lay-filter="login">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--<button id="test1">点击</button>-->

<!--<script>-->
    <!--$("#test1").click(function () {-->
        <!--var username1 = document.getElementById('username').value;-->
        <!--$.cookie('User_name', username1);-->
        <!--console.log($.cookie("User_name"));-->
    <!--})-->
<!--</script>-->

</body>

</html>